.container_navbar {
  background: var(--color-primary-dark);
  padding: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo,
.navbar_list {
  margin: 20px 30px;
}

.navbar_logo {
  cursor: pointer;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-logo);
  color: var(--color-primary-light);
}

.navbar_list {
  list-style: none;
}

.navbar_list li {
  display: inline-block;
  padding: 0px 30px 0 0;
}

.navbar_link {
  text-decoration: var(--text-decoration-none);
  font-weight: var(--font-weight-small);
  color: var(--color-primary-light);
}

.navbar_link:hover {
  padding: 0 0 5px 0;
  border-bottom: var(--border-beige);
}

@media only screen and (max-width: 700px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    height: 260px;
    padding: 40px 20px;
  }

  .container_navbar {
    padding: 10px;
  }

  .navbar_list li {
    display: block;
    padding: 5px;
  }
}
