.container_enquiries {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 20px 90px 20px;
  padding: 40px 140px;
  margin: 0 auto;
}

.container_enquiries h1{
  margin-bottom: 20px;
}

.container_form__input,
.container_form__messageInput {
  width: 490px;
  font-size: var(--font-size-link);
  padding: 15px;
  font-size: var(--font-size-body);
  border: none;
  box-shadow: var(--box-shadow);
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  margin: 5px 0px 20px 0px;
}

.container_form__messageInput {
  max-height: 200px;
  min-height: 200px;
}

@media only screen and (max-width: 700px) {
  .container_enquiries {
    padding: 40px 30px;

  }
  
 
  .container_form__input,
  .container_form__messageInput {
    width: 100%;
    font-size: var(--font-size-link);
    padding: 10px;
  }

  .container_form__messageInput {
    max-height: 200px;
    min-height: 200px;
  }
}
