.login_input {
  width: 490px;
  font-size: var(--font-size-link);
  padding: 15px;
  border: none;
  box-shadow: var(--box-shadow);
  font-family: var(--font-body);
  margin: 5px 20px 20px 20px;
}

.login_button {
  font-family: var(--font-family-body);
  font-size: var( --font-size-link);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-light);
  background: var( --color-gradient);
  border-radius: var(--border-radius-large);
  margin: var(--spacing-medium) 0;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-gradient);
  width: 120px;
  height: 40px;
  cursor: pointer;
}
  
.login_button:hover {
  background: var(--color-primary-red);
  color: var(--color-primary-light);
  border: var(--border-red);
  border-radius: var(--border-radius-large) var(--border-radius-large) var(--border-radius-large) 0;
}

.login_text {
  text-align: left;
  margin: 0 20px;
}
.login_form {
  border: none;
  justify-items: center;
  margin: 0px 20px;
  text-align: center;
  float: left;
}

@media only screen and (max-width: 700px) {
  .login_input {
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-link);
    border: none;
    box-shadow: var(--box-shadow);
    font-family: var(--font-body);
    margin: 0 10px 10px;
    
  }
  .login_form {
    border: none;
    margin: 0px 20px;

  }

  .login_form p {
    margin: 5px 10px;
  }
}






